### Statically Generated Stuff ###
public/feed.xml

### NodeJS ###
# dependencies
/node_modules
/coverage
/.next/
/out/
/build
npm-debug.log*
*.tsbuildinfo
next-env.d.ts

## Python ##
geckodriver.log

### MacOS ###
.DS_Store
*.pem
