.list {
  list-style: none;
  padding: 6px;
  max-width: 800px;
  margin: 0 auto;
}

.item {
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
  max-width: 100%;
}

.item .title {
  font-size: 110%;
  text-decoration: none;
}

.item .title:hover {
  text-decoration: underline;
}

.item .datetime {
  margin-top: 0;
  font-size: 60%;
  color: #999;
}

.item .content a {
  word-break: break-all;
}
/*
 * TODO: apply break-all only to span of class ellipsis and invisible
 * TODO: apply display:none to the first span of class invisible (https)
*/

.item .content img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 16px auto;
}
