.container a,
.container a:hover,
.container a:active,
.container a:visited {
  color: var(--secondary-foreground-color);
}

.tense {
  background: rgba(247, 147, 2, 0.2);
  border-radius: 4px;
  margin: 0px -2px;
  padding: 0px 2px;
}

.container a.shrinking,
.container a:hover.shrinking,
.container a:active.shrinking,
.container a:visited.shrinking {
  color: rgba(0, 0, 0, 0);
  background-color: inherit;
}

.expanding {
  color: rgba(0, 0, 0, 0);
}

.loose {
  color: inherit;
}
